@model List<TweetsWithSentiment>



<br /><br /><br /><br /><br /><br />

@foreach (var item in Model)
{
    <p>@item.id</p>
    <p>@item.language</p>
    <p>@item.text</p>
    @if (item.Sentiment > 0.5)
    {
        <p>positive</p>
        @item.Sentiment
    }
    @if (item.Sentiment < 0.5)
    {
        <p>negative</p>
        @item.Sentiment
    }
    // SAMPLE TESTING CODE
}











