@model IEnumerable<Tweetinvi.Models.ITweet>


<<<<<<< HEAD
@foreach (var item in Model)
{
    @*<p>@item.FullText</p>*@
    <p>@item.Text</p>
    <p>@item.CreatedBy</p>
    <p>@item.Place</p>
  
  
}
=======

    @foreach (var item in Model)
    {
        <p>@item.FullText</p>
    }

>>>>>>> c469fe24deccae382f299db31c50abbf2f7b37bc
